<div ng-controller="beforeLoginCompanyDetails">
    <div class="row" style="min-height: 90px;"></div>
    <div class="breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <div angucomplete-alt
                             id="companyName"
                             placeholder="Enter Company Name"
                             pause="500"
                             selected-object="selectCompany"
                             remote-url="{{sitehosturl}}/Search/GetCompanyDetailsAutocomplete?q="
                             remote-url-request-formatter="remoteUrlRequestFn"
                             remote-url-data-field="Payload"
                             title-field="companyname"
                             minlength="2"
                             input-class="form-control form-control-small"
                             ng-model="companyName"
                             image-field="logourl"
                             match-class="highlight" ng-keypress="myFunct($event)" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="submit" class="btn btn-default btn-primary" ng-click="searchCompany()">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumbs end-->

    <div class="container">
        <div class="cover profile">
            <div class="wrapper">
                <div class="image">
                    <img alt="people" ng-src="{{companyDetails.squarelogourl}}" height="250">
                </div>
            </div>
            <div class="cover-info">
                <div class="avatar">
                    <img alt="people" ng-src="{{companyDetails.logourl}}" width="110px">
                </div>
                <div class="name">
                    <a href="" ng-bind="companyDetails.companyname"></a> <a ng-show="userCompanyAnalyticsLoaded"> ( You visited <span ng-bind="userCountVisit">0</span> times | Overall <span ng-bind="countVisit">0</span> visits)</a>
                </div>

                <div class="cover-nav">
                    <div class="col-lg-2 col-sm-2">
                        <a href="" ng-bind="companyDetails.companyname">
                        </a>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <input-stars max="5" icon-base="fa fa-fw" icon-empty="fa-star-o" icon-hover="hover" icon-full="fa-star" ng-model="companyDetails.averagerating" readonly></input-stars>
                    </div>
                    <div class="col-lg-2 col-sm-2">
                        <small>(<span ng-bind="averageRatingInDoubleFormat"></span> rating from <span ng-bind="companyDetails.totalratingcount"></span> Reviews)</small>
                    </div>
                    <div class="col-lg-6 col-sm-6" ng-show="userCompanyAnalyticsLoaded">
                        You Visited &nbsp;<a href="" ng-bind="userCompanyAnalytics.Count">
                        </a> times |  Last Visited :&nbsp; <a href="">{{userCompanyAnalytics.LastActivity| date:"yyyy-MM-dd hh:mm:ss a"}}</a>
                    </div>

                </div>

            </div>



        </div>
        <!--container start-->
        <div class="login-bg">
            <hr />            
            <div class="row">
                <!--blog start-->
                <div class="col-lg-9">
                    <div class="blog-item">

                        <div class="row">

                            <div class="col-lg-12 col-sm-10">                                
                                <hr />
                                <uib-tabset justified="true">
                                    <uib-tab heading="Profile" active="companyActiveTab.Profile" ng-click="changeBrowserUrl('Profile')">
                                        <br />
                                        <p> Website : <a href="{{companyDetails.website}}" target="_blank" ng-bind="companyDetails.website"></a></p>
                                        <div class="tags" ng-show="companyDetails.speciality">
                                            <ul class="tag2">

                                                <li ng-repeat="speciality in companyDetails.speciality">
                                                    <a href="">
                                                        <i class="fa fa-tags pr-5">
                                                        </i>
                                                        <span ng-bind="speciality"></span>
                                                    </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="clear"></div>

                                        <p ng-bind="companyDetails.description">
                                        </p>

                                        <hr />
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="javascript:;">
                                                    <em ng-bind="companyDetails.city">
                                                    </em>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <em ng-bind="companyDetails.district">
                                                    </em>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <em ng-bind="companyDetails.state">
                                                    </em>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <em ng-bind="companyDetails.country">
                                                    </em>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <em ng-bind="companyDetails.postal_code">
                                                    </em>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="st-view">

                                        </div>
                                        <div class="row">
                                            <div id="chart_div"></div>
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Salary" active="companyActiveTab.Salary" ng-click="changeBrowserUrl('Salary')">
                                        <div class="row">
                                            <br />
                                            <div class="container" ng-repeat="companySalary in CompanySalaryDetails" style="width: 70%;">
                                                <div class="row" ng-repeat="salaryInfo in companySalary.salaryInfo">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                        <div class="panel panel-default">
                                                            <div class="row padall">
                                                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                    <span></span>
                                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/urnotice/images/Starting-Salary.jpg" />
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                                                    <div class="clearfix">
                                                                        <div class="pull-left">
                                                                            <span class="fa fa-map-marker icon"> &nbsp;</span><span ng-bind="companySalary.designationInfo[$index].DesignationName"></span>
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            Approx
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <h4> <span class="fa fa-inr icon"> <span ng-bind="salaryInfo.SalaryAmount"></span></span></h4>
                                                                        On An Average. <span class="fa fa-search icon pull-right"> More</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                            <!--<div ng-repeat="companySalary in CompanySalaryDetails">
                <br />
                <div ng-repeat="salaryInfo in companySalary.salaryInfo">
                    <div>&nbsp; &nbsp; <span ng-bind="companySalary.designationInfo[$index].DesignationName"></span> --&nbsp;Rs &nbsp;<b><span ng-bind="salaryInfo.SalaryAmount"></span></b></div><br />

                </div>
                <br />
                <hr />
            </div>-->
                                        </div>
                                    </uib-tab>
                                    <uib-tab heading="Notice Period" active="companyActiveTab.NoticePeriod" ng-click="changeBrowserUrl('NoticePeriod')">
                                        <div class="row">
                                            <br />
                                            <div class="container" ng-repeat="noticePeriod in CompanyNoticePeriodDetails" style="width: 70%;">
                                                <div class="row" ng-repeat="range in noticePeriod.range">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                                        <div class="panel panel-default">
                                                            <div class="row padall">
                                                                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                                                    <span></span>
                                                                    <img src="https://s3-ap-southeast-1.amazonaws.com/urnotice/images/notice_period.jpg" />
                                                                </div>
                                                                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                                                    <div class="clearfix">
                                                                        <div class="pull-left">
                                                                            <span class="fa fa-map-marker icon"> &nbsp;</span><span ng-bind="noticePeriod.designationInfo[$index].DesignationName"></span>
                                                                        </div>
                                                                        <div class="pull-right">
                                                                            Approx
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div ng-if="range.RangeValue=='NotAvailable'"><h4>Not Available</h4></div>
                                                                        <div ng-if="range.RangeValue=='ZeroToFifteen'"><h4>0 to 15 Days</h4></div>
                                                                        <div ng-if="range.RangeValue=='FifteenToThirty'"><h4>15 - 30 Days</h4></div>
                                                                        <div ng-if="range.RangeValue=='ThirtyToFourtyFive'"><h4>30 - 45 Days</h4></div>
                                                                        <div ng-if="range.RangeValue=='FourtyfiveToSixty'"><h4>45 - 60 Days</h4></div>
                                                                        <div ng-if="range.RangeValue=='SixtytoSeventyfive'"><h4>60 - 75 Days</h4></div>
                                                                        <div ng-if="range.RangeValue=='SeventyfiveToNinety'"><h4>75 - 90 Days</h4></div>
                                                                        <div ng-if="range.RangeValue=='NinetyPlus'"><h4>90+ Days</h4></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>

                                        </div>
                                    </uib-tab>
                                    <!--<uib-tab heading="Salary">Salary Justified content</uib-tab>-->
                                    <uib-tab heading="Workgraphy" active="companyActiveTab.Workgraphy" ng-click="changeBrowserUrl('Workgraphy')">
                                        <div class="container">
                                            <br />
                                            <ul class="timeline" style="width: 60%;">
                                                <li ng-repeat="workgraphy in CompanyWorkgraphyDetails">
                                                    <!---Time Line Element--->
                                                    <div class="timeline-badge up"><i class="fa fa-thumbs-up"></i></div>
                                                    <div class="timeline-panel">
                                                        <div class="timeline-heading">
                                                            <a href="/#/story/{{workgraphy._id}}"><h4 class="timeline-title" ng-bind="workgraphy.Heading"></h4></a>
                                                        </div>
                                                        <div class="timeline-body">
                                                            <!---Time Line Body&Content--->
                                                            <p ng-bind="workgraphy.Email"></p>
                                                            <p><span class="glyphicon glyphicon-time"></span> Posted on <span class="text-muted">{{workgraphy.CreatedTime | date:'yyyy-MM-dd HH:mm:ss Z' }}</span> &nbsp; ({{workgraphy.CreatedTime| timeago}})</p>
                                                        </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>

                                    </uib-tab>
                                </uib-tabset>


                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3">
                    <div class="blog-side-item">

                        <div class="blog-post">
                            <h3>
                                Relevant
                            </h3>
                            <div class="media" ng-repeat="competitor in competitorDetails">
                                <a class="pull-left gs" href="{{competitor.linkurl}}">
                                    <img class=" " ng-src="{{competitor.logourl}}" alt="" height="50px" width="50px">
                                </a>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="{{competitor.linkurl}}">
                                            <span ng-bind="competitor.companyname"></span>
                                        </a>
                                    </div>
                                    <p>
                                        <span ng-bind="competitor.website"></span>
                                    </p>
                                </div>
                            </div>

                            <hr />
                            <h3>
                                UrJobgraphy
                            </h3>
                            <div class="media">
                                <a class="pull-left gs" href="{{companyDetails.logourl}}">
                                    <img class=" " ng-src="{{companyDetails.logourl}}" alt="" height="50px" width="50px">
                                </a>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="{{companyDetails.linkurl}}">
                                            I miss you <span ng-bind="companyDetails.companyname"></span>
                                        </a>
                                    </div>
                                    <p>
                                        Posty By : <span> Anonymous</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <!--container end-->
    </div>
    <!--breadcrumbs start-->

    <style>
        .timeline {
            list-style: none;
            padding: 20px 0 20px;
            position: relative;
        }

            .timeline:before {
                top: 0;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 3px;
                background-color: #CCCCCC;
                left: 25px;
                margin-left: -1.5px;
            }

            .timeline > li {
                margin-bottom: 20px;
                position: relative;
            }

                .timeline > li:before,
                .timeline > li:after {
                    content: " ";
                    display: table;
                }

                .timeline > li:after {
                    clear: both;
                }

                .timeline > li:before,
                .timeline > li:after {
                    content: " ";
                    display: table;
                }

                .timeline > li:after {
                    clear: both;
                }

                .timeline > li > .timeline-panel {
                    width: calc( 100% - 55px );
                    float: right;
                    border: 1px solid #d4d4d4;
                    border-radius: 22px;
                    padding: 10px;
                    position: relative;
                    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
                }

                    .timeline > li > .timeline-panel:before {
                        position: absolute;
                        top: 26px;
                        left: -15px;
                        display: inline-block;
                    }

                    .timeline > li > .timeline-panel:after {
                        position: absolute;
                        top: 27px;
                        left: -14px;
                        display: inline-block;
                    }

                .timeline > li > .timeline-badge {
                    color: #FFFF99;
                    width: 25px;
                    height: 25px;
                    line-height: 25px;
                    font-size: 1.4em;
                    text-align: center;
                    position: absolute;
                    top: 16px;
                    left: 13px;
                    background-color: #666666;
                    z-index: 100;
                    border-top-right-radius: 50%;
                    border-top-left-radius: 50%;
                    border-bottom-right-radius: 50%;
                    border-bottom-left-radius: 50%;
                }

                .timeline > li.timeline-inverted > .timeline-panel {
                    float: left;
                }

                    .timeline > li.timeline-inverted > .timeline-panel:before {
                        border-left-width: 0;
                        border-right-width: 15px;
                        right: -15px;
                        right: auto;
                    }

                    .timeline > li.timeline-inverted > .timeline-panel:after {
                        border-left-width: 0;
                        border-right-width: 14px;
                        left: -14px;
                        right: auto;
                    }

        .timeline-badge.primary {
            background-color: #006699 !important;
        }

        .timeline-badge.up {
            background-color: #339933 !important;
        }

        .timeline-badge.down {
            background-color: #CC3333 !important;
        }

        .timeline-badge.neutral {
            background-color: #999999 !important;
        }

        .timeline-title {
            margin-top: 0;
            color: inherit;
        }

        .timeline-body > p,
        .timeline-body > ul {
            margin-bottom: 0;
        }

            .timeline-body > p + p {
                margin-top: 5px;
            }
    </style>
