<div class="container" style="margin-top: 100px; margin-bottom: 100px;" ng-controller="beforeLoginPostYourNotice">
    <!--<div class="row">
        <div class="progress" id="progress1">
            <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
            </div>
            <span class="progress-type">Overall Progress</span>
            <span class="progress-completed">20%</span>
        </div>
    </div>-->
    <div class="row">
        
       
            <div class="row step">
                <div class="col-md-2">

                </div>
                <div class="col-md-2 activestep" id="button-step-2" onclick="javascript: resetActive(event, 20, 'step-2');">
                    <span class="fa fa-pencil"></span>
                    <p>Add Notice Period Info</p>
                </div>
                <div class="col-md-2" id="button-step-3" onclick="javascript: resetActive(event, 40, 'step-3');">
                    <span class="fa fa-refresh"></span>
                    <p>Looking for a change?</p>
                </div>
                <div class="col-md-2" id="button-step-4" onclick="javascript: resetActive(event, 60, 'step-4');">
                    <span class="fa fa-star"></span>
                    <p>Ratings</p>
                </div>
                <div class="col-md-2" id="button-step-5" onclick="javascript: resetActive(event, 80, 'step-5');">
                    <span class="fa fa-cloud-upload"></span>
                    <p>Preview and Submit</p>
                </div>
                <div class="col-md-2" >
                    
                </div>
            </div>
       
        
        
    </div>
    
    <div class="row setup-content step activeStepInfo" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h3 class="underline">Add Notice Period Info</h3>
                
                <div class="row">
                    <div class="col-md-4">Employer's Status :</div>
                    <div class="col-md-4">
                        <input type="radio" name="answer" value="current" ng-model="postYourNoticeFormData.companyReview.employerStatus" /> Current
                        <input type="radio" name="answer" value="former" ng-model="postYourNoticeFormData.companyReview.employerStatus" /> Former
                    </div>
                    <div class="col-md-4" ng-show="postYourNoticeFormData.companyReview.employerStatus=='former'">
                        <input type="text" class="form-control" placeholder="Last Year At Employer" autofocus="" ng-model="postYourNoticeFormData.companyReview.lastYearAtEmployer">
                    </div>                    
                </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4">Employer's Name :</div>
                    <div class="col-md-4">
                        <div angucomplete-alt
                             id="companyName"
                             placeholder="Enter Company Name"
                             pause="500"
                             selected-object="selectedCompany"
                             remote-url="{{sitehosturl}}/Search/GetCompanyDetailsAutocomplete?q="
                             remote-url-request-formatter="remoteUrlRequestFn"
                             remote-url-data-field="Payload"
                             title-field="companyname"
                             minlength="2"
                             input-class="form-control form-control-small"
                             ng-model="companyName"
                             image-field="logourl"
                             match-class="highlight" ng-keypress="myFunct($event)" />
                    </div>
                    <div class="col-md-4">
                        <img ng-show="postYourNoticeFormData.companyReview.employerLogoImage" ng-src="{{postYourNoticeFormData.companyReview.employerLogoImage}}" style="max-height:50px" />
                    </div>                    
                </div>                
                <hr />
                <div class="row">
                    <div class="col-md-4">Location : </div>
                    <div class="col-md-4">
                        <input type="text" id="Autocomplete2" ng-model="autocomplete" class="form-control" ng-autocomplete options="options" details="postYourNoticeFormData.companyReview.location" />
                    </div>
                    <div class="col-md-4">
                        <span ng-bind="postYourNoticeFormData.companyReview.location.formatted_address"></span>
                    </div>
                </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4">Designation : </div>
                    <div class="col-md-4">
                        <div angucomplete-alt
                             id="ex5"
                             placeholder="Designation"
                             pause="500"
                             selected-object="selectedDesignation"
                             remote-url="{{sitehosturl}}/Search/GetDesignationDetails?q="
                             remote-url-request-formatter="remoteUrlRequestFn"
                             remote-url-data-field="Payload"
                             title-field="designation"
                             minlength="2"
                             ng-model="PostStoryModel.designation"
                             input-class="form-control form-control-small"
                             match-class="highlight"/>
                    </div>
                    <div class="col-md-4">
                        <span ng-bind="postYourNoticeFormData.companyReview.designation" style="font-size: 18px;"></span>
                    </div>
                    
                </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4">Salary Details : </div>
                    <div class="col-md-2">
                        <select name="employmentCurrencySelect" id="employmentCurrencySelect" ng-model="postYourNoticeFormData.companyReview.salary.currency">
                            <option ng-repeat="option in postYourNoticeFormData.constants.currencySelectList" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Salary Amount" autofocus="" ng-model="postYourNoticeFormData.companyReview.salary.amount">
                    </div>
                    <div class="col-md-2">
                        <select name="employmentSalaryFrequencyTypeSelect" id="employmentCurrencySelect" ng-model="postYourNoticeFormData.companyReview.salary.frequency">
                            <option ng-repeat="option in postYourNoticeFormData.constants.salaryFrequencyList" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>
                

                <hr />
                <div class="row">
                    <div class="col-md-4">Employment Status :</div>
                    <div class="col-md-4">
                        <select name="employmentStatusSelect" id="employmentStatusSelect" ng-model="postYourNoticeFormData.companyReview.employmentStatusSelect">
                            <option ng-repeat="option in postYourNoticeFormData.constants.employmentStatusSelectList" value="{{option.id}}">{{option.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4">Notice Period :</div>
                    <div class="col-md-4">
                        <article>
                            Min Days:
                            <input type="number" ng-model="postYourNoticeFormData.companyReview.noticePeriod.minValue" />
                            <br />Max Days:
                            <input type="number" ng-model="postYourNoticeFormData.companyReview.noticePeriod.maxValue" />
                            
                        </article>
                    </div>
                    <div class="col-md-4">
                        <rzslider rz-slider-model="postYourNoticeFormData.companyReview.noticePeriod.minValue" rz-slider-high="postYourNoticeFormData.companyReview.noticePeriod.maxValue" rz-slider-options="minRangeSlider.options"></rzslider>
                    </div>
                </div>
                
                <hr />
                <div class="row">
                    <div class="col-md-4">Buyout Option Available :</div>                    
                    <div class="col-md-4">
                        <input type="radio" name="buyoutOption" value="Yes" ng-model="postYourNoticeFormData.companyReview.buyoutOption" /> Yes
                        <input type="radio" name="buyoutOption" value="No" ng-model="postYourNoticeFormData.companyReview.buyoutOption" /> No
                    </div>
                    <div class="col-md-4"></div>
                </div>
                
                <hr />                
                <div class="row">
                    <button class="btn btn-warning btn-flat"  disabled>Prev</button>
                    <button class="btn btn-success  btn-flat" ng-click="postYourNoticeFormData.companyReview.openPage('3')">Next</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <h3 class="underline">looking for a change?</h3>                
                  
                <div class="row">
                    <div class="col-md-4">
                        Employer :
                    </div>
                    <div class="col-md-8">
                        <img ng-show="postYourNoticeFormData.companyReview.employerLogoImage" ng-src="{{postYourNoticeFormData.companyReview.employerLogoImage}}" style="max-height:50px" />
                    </div>
                </div>             
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Location :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.location.formatted_address"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Designation :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.designation" style="font-size: 18px;"></span>
                    </div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-4">
                        Are You looking for a change? :
                    </div>
                    <div class="col-md-8">
                        <input type="radio" name="lookingForChange" value="Yes" ng-model="postYourNoticeFormData.companyReview.lookingForChange" /> Yes
                        <input type="radio" name="lookingForChange" value="No" ng-model="postYourNoticeFormData.companyReview.lookingForChange" /> No
                    </div>
                </div>
                <hr />
                <div class="row" ng-show="postYourNoticeFormData.companyReview.lookingForChange=='Yes'">
                    <div class="col-md-4">
                        Expected CTC :
                    </div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Expected CTC" ng-model="postYourNoticeFormData.companyReview.expectedCtc">
                    </div>
                </div>
                <hr />
                <div class="row" ng-show="postYourNoticeFormData.companyReview.lookingForChange=='Yes'">
                    
                    Bad points of your company :
                    <br />
                    <div class="form-group">
                        <div class="col-md-3" ng-repeat="companyBadPoint in postYourNoticeFormData.constants.companyBadPointList">
                            <label ng-class="{true:'btn btn-primary', false:'btn'}[companyBadPoint.isSelected]">
                                <img ng-click="postYourNoticeFormData.companyReview.toggleCompanyBadPoint($index)" ng-src="{{companyBadPoint.img}}" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="{{companyBadPoint.id}}" id="{{companyBadPoint.id}}" value="{{companyBadPoint.id}}" class="hidden" autocomplete="off">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="postYourNoticeFormData.companyReview.lookingForChange=='No'">
                    Good points of your company :
                    <br />
                    <div class="form-group">
                        <div class="col-md-3" ng-repeat="companyGoodPoint in postYourNoticeFormData.constants.companyGoodPointList">
                            <label ng-class="{true:'btn btn-primary', false:'btn'}[companyGoodPoint.isSelected]">
                                <img ng-click="postYourNoticeFormData.companyReview.toggleCompanyGoodPoint($index)" ng-src="{{companyGoodPoint.img}}" alt="..." class="img-thumbnail img-check"><input type="checkbox" name="{{companyGoodPoint.id}}" id="{{companyGoodPoint.id}}" value="{{companyGoodPoint.id}}" class="hidden" autocomplete="off">
                            </label>
                        </div>
                    </div>
                </div>
                
                <hr />

                <div class="row">
                    <button class="btn btn-warning btn-flat" ng-click="postYourNoticeFormData.companyReview.openPage('2')">Prev</button>
                    <button class="btn btn-success  btn-flat" ng-click="postYourNoticeFormData.companyReview.openPage('4')">Next</button>
                </div>

            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-4">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">                
                <h3 class="underline">Ratings</h3>
                <div class="row">
                    <div class="col-md-4">
                        Employer :
                    </div>
                    <div class="col-md-8">
                        <img ng-show="postYourNoticeFormData.companyReview.employerLogoImage" ng-src="{{postYourNoticeFormData.companyReview.employerLogoImage}}" style="max-height:50px" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Location :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.location.formatted_address"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Designation :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.designation" style="font-size: 18px;"></span>
                    </div>
                </div>                
                <hr />
                <div class="row" ng-repeat="companyRating in postYourNoticeFormData.constants.companyRatingList">
                    <div class="col-md-3">
                        <span ng-bind="companyRating.RatingText"></span>
                    </div>
                    <div class="col-md-3">
                        <uib-rating ng-model="companyRating.rate" max="companyRating.max" read-only="companyRating.isReadonly" on-hover="hoveringOver($index, value)" on-leave="companyRating.overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>                        

                    </div>
                    <div class="col-md-6">
                        <pre style="margin:15px 0;">Rate: <b>{{companyRating.rate}}</b> - Readonly is: <i>{{companyRating.isReadonly}}</i> - Hovering over: <b>{{companyRating.overStar || "none"}}</b></pre>
                    </div>
                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4"> Suggestion to your Boss :</div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Suggestion To Boss" autofocus="" ng-model="postYourNoticeFormData.companyReview.suggestionToBoss"> 
                    </div>
                    
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4"> Suggestion to Company :</div>
                    <div class="col-md-8">
                        <input type="text" class="form-control" placeholder="Suggestion To Company" autofocus="" ng-model="postYourNoticeFormData.companyReview.suggestionToCompany"> 
                    </div>
                    
                </div>
                <hr />
                <div class="row">
                    <button class="btn btn-warning btn-flat" ng-click="postYourNoticeFormData.companyReview.openPage('3')">Prev</button>
                    <button class="btn btn-success  btn-flat" ng-click="postYourNoticeFormData.companyReview.openPage('5')">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row setup-content step hiddenStepInfo" id="step-5">
        <div class="col-xs-12">
            
            <div class="col-md-12 well text-center">
                <h3 class="underline">Review Your Submission</h3>

                <div class="row">
                    <div class="col-md-4">
                        Employer :
                    </div>
                    <div class="col-md-8">
                        <img ng-show="postYourNoticeFormData.companyReview.employerLogoImage" ng-src="{{postYourNoticeFormData.companyReview.employerLogoImage}}" style="max-height:50px" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Location :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.location.formatted_address"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Designation :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.designation" style="font-size: 18px;"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Salary Details :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.salary.currency" style="font-size: 18px;"></span>
                        <span ng-bind="postYourNoticeFormData.companyReview.salary.amount" style="font-size: 18px;"></span>
                        <span ng-bind="postYourNoticeFormData.companyReview.salary.frequency" style="font-size: 18px;"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Employment Status :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.employmentStatusSelect" style="font-size: 18px;"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Notice Period :
                    </div>
                    <div class="col-md-8">
                        <article>
                            Min Days:
                            <span ng-bind="postYourNoticeFormData.companyReview.noticePeriod.minValue"></span>
                            <br />Max Days:
                            <span ng-bind="postYourNoticeFormData.companyReview.noticePeriod.maxValue"></span>

                        </article>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        Buyout Option Available :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.buyoutOption" style="font-size: 18px;"></span>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        looking for a change? :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.lookingForChange" style="font-size: 18px;"></span>
                    </div>
                </div>
                <hr />
                <div class="row" ng-show="postYourNoticeFormData.companyReview.lookingForChange=='Yes'">
                    <div class="col-md-4">
                        Expected CTC :
                    </div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.expectedCtc"></span>
                    </div>
                </div>
                <hr />
                <div class="row" ng-show="postYourNoticeFormData.companyReview.lookingForChange=='Yes'">

                    Bad points of your company :
                    <br />
                    <div class="form-group">
                        <div class="col-md-3" ng-repeat="companyBadPoint in postYourNoticeFormData.constants.companyBadPointList">
                            <label ng-class="{true:'btn btn-primary', false:'btn'}[companyBadPoint.isSelected]">
                                <img ng-src="{{companyBadPoint.img}}" alt="..." class="img-thumbnail img-check"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="postYourNoticeFormData.companyReview.lookingForChange=='No'">
                    Good points of your company :
                    <br />
                    <div class="form-group">
                        <div class="col-md-3" ng-repeat="companyGoodPoint in postYourNoticeFormData.constants.companyGoodPointList">
                            <label ng-class="{true:'btn btn-primary', false:'btn'}[companyGoodPoint.isSelected]">
                                <img ng-src="{{companyGoodPoint.img}}" alt="..." class="img-thumbnail img-check"/>
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row" ng-repeat="companyRating in postYourNoticeFormData.constants.companyRatingList">
                    <div class="col-md-3">
                        <span ng-bind="companyRating.RatingText"></span>
                    </div>
                    <div class="col-md-3">
                        <uib-rating ng-model="companyRating.rate" max="companyRating.max" data-readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>

                    </div>
                    <div class="col-md-6">
                        <pre style="margin:15px 0;">Rate: <b>{{companyRating.rate}}</b> </pre>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4"> Suggestion to your Boss :</div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.suggestionToBoss"></span>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <div class="col-md-4"> Suggestion to Company :</div>
                    <div class="col-md-8">
                        <span ng-bind="postYourNoticeFormData.companyReview.suggestionToCompany"></span>
                    </div>

                </div>
                <hr />
                <div class="row">
                    <button class="btn btn-warning btn-flat" ng-click="postYourNoticeFormData.companyReview.openPage('4')">Prev</button>
                    <button class="btn btn-success  btn-flat" ng-click="postYourNoticeFormData.companyReview.submit()">Submit</button>
                </div>

            </div>
        </div>
    </div>
    
</div>

<style>
    .hiddenStepInfo {
        display: none;
    }

    .activeStepInfo {
        display: block !important;
    }

    .underline {
        text-decoration: underline;
    }

    .step {
        margin-top: 27px;
    }

    .progress {
        position: relative;
        height: 25px;
    }

        .progress > .progress-type {
            position: absolute;
            left: 0px;
            font-weight: 800;
            padding: 3px 30px 2px 10px;
            color: rgb(255, 255, 255);
            background-color: rgba(25, 25, 25, 0.2);
        }

        .progress > .progress-completed {
            position: absolute;
            right: 0px;
            font-weight: 800;
            padding: 3px 10px 2px;
        }

    .step {
        text-align: center;
    }

        .step .col-md-2 {
            background-color: #fff;
            border: 1px solid #C0C0C0;
            border-right: none;
        }

            .step .col-md-2:last-child {
                border: 1px solid #C0C0C0;
            }

            .step .col-md-2:first-child {
                border-radius: 5px 0 0 5px;
            }

            .step .col-md-2:last-child {
                border-radius: 0 5px 5px 0;
            }

            .step .col-md-2:hover {
                color: #F58723;
                cursor: pointer;
            }

        .step .activestep {
            color: #F58723;
            height: 100px;
            margin-top: -7px;
            padding-top: 7px;
            border-left: 6px solid #5CB85C !important;
            border-right: 6px solid #5CB85C !important;
            border-top: 3px solid #5CB85C !important;
            border-bottom: 3px solid #5CB85C !important;
            vertical-align: central;
        }

        .step .fa {
            padding-top: 15px;
            font-size: 40px;
        }
</style>

<script type="text/javascript">
    
    //$('.textarea').wysihtml5();
    $(document).ready(function (e) {
        $(".img-check").click(function () {
            $(this).toggleClass("check");
        });
    });

    function resetActive(event, percent, step) {
        //$(".progress-bar").css("width", percent + "%").attr("aria-valuenow", percent);
        //$(".progress-completed").text(percent + "%");

        $("div").each(function () {
            if ($(this).hasClass("activestep")) {
                $(this).removeClass("activestep");
            }
        });

        if (event.target.className == "col-md-2") {
            $(event.target).addClass("activestep");
        }
        else {
            $(event.target.parentNode).addClass("activestep");
        }

        hideSteps();
        showCurrentStepInfo(step);
    }

    function hideSteps() {
        $("div").each(function () {
            if ($(this).hasClass("activeStepInfo")) {
                $(this).removeClass("activeStepInfo");
                $(this).addClass("hiddenStepInfo");
            }
        });
    }

    function showCurrentStepInfo(step) {
        var id = "#" + step;
        $(id).addClass("activeStepInfo");
    }
</script>