<!DOCTYPE html>

<html>
<head>
    <title>Unit Test Class Generator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    @*<link rel="stylesheet" href="../../css/foundation.css">*@
    @*<link rel="stylesheet" href="../../css/school-book.css">*@
    <link rel="stylesheet" href="../../App/thirdPartyApp/toastmessage/css/jquery.toastmessage.css">

    <script src="../../App/js/jquery.min.js" type="text/javascript"></script>
    <script src="../../App/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="../../App/js/angular.min.js" type="text/javascript"></script>
    <script src="../../App/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../App/js/jquery.blockUI.js" type="text/javascript"></script>
    <script src="../../App/js/configureBlockUI.js" type="text/javascript"></script>
    <script src="../../App/js/clipboard.js" type="text/javascript"></script>
    <script src="../../App/thirdPartyApp/toastmessage/js/jquery.toastmessage.js" type="text/javascript"></script>
    <script src="../../App/js/toastMessage.js" type="text/javascript"></script>
</head>
<body>

    
    <div ng-app="myApp" ng-controller="myCtrl"> 
        <div class="jumbotron">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4>Unit Test Class Generator</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input type="file" id="FileUpload1" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="btnUpload" value="Upload File" />
                </div>
                <div class="col-sm-2">
                    <input type="button" id="btnDownload" value="Download Test File" class="isFileUploaded" disabled/>
                </div>
                <div class="col-sm-2">
                    <button ng-click="copyToClipboard()" class="isFileUploaded" disabled>Copy Test File</button>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
        <div class="jumbotron" style="min-height: 400px;">
            <div class="row comparisonDiv"  style="display:none">
                <div class="col-sm-6">
                    <h4 id="fileNameLeftSide"></h4>
                </div>
                <div class="col-sm-6">
                    <h4 id="fileNameRightSide"></h4>
                </div>
            </div>
            <div class="row comparisonDiv" style="display:none">
                <div class="col-sm-6">
                    <pre><code class="cs" id="uploadedFileStr" style="font-size:11px; margin-top: 7px;">
                    
                </code></pre>
                </div>
                <div class="col-sm-6">
                    <pre><code class="cs" id="createdFileStr" style="font-size:11px ; margin-top: 7px;">
                    
                </code></pre>
                </div>
            </div>
            <div class="row comparisonDiv" style="display:none">
                <div class="col-sm-12">
                    <div class=""> <a href="http://stackoverflow.com/users/2891929/sumit-chourasia" target="_blank" style="float: right;"> <span style="color: silver;">Created By : Sumit Chourasia </span></a></div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="../../App/js/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <script type="text/javascript">
        
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {

            $(".isFileUploaded").prop("disabled", true);

            $('#btnUpload').click(function () {

                // Checking whether FormData is available in browser  
                if (window.FormData !== undefined) {

                    var fileUpload = $("#FileUpload1").get(0);

                    var files = fileUpload.files;

                    if (files.length == 0) {
                        showToastMessage("Warning", "Please select a file.");
                        return;
                    };

                    // Create FormData object  
                    var fileData = new FormData();

                    // Looping over all files and add it to FormData object  
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                    }

                    // Adding one more key to FormData object  
                    fileData.append('username', 'Sumit Chourasia');
                    startBlockUI('wait..', 3);
                    $.ajax({
                        url: '/Home/CreateTestFile',
                        type: "POST",
                        contentType: false, // Not to set any content header  
                        processData: false, // Not to process data  
                        data: fileData,
                        success: function (result) {
                            stopBlockUI();
                            
                            $scope.fileName = result.fileName;
                            $scope.createdFile = result.createdFile;
                            $(".isFileUploaded").prop("disabled", false);
                            $('#uploadedFileStr').html(EncodeHtml(result.uploadedFile));
                            $('#createdFileStr').html(EncodeHtml(result.createdFile));
                            $('#fileNameLeftSide').html(result.fileName + ".cs");
                            $('#fileNameRightSide').html(result.fileName + "Tests.cs");
                            $('.comparisonDiv').show();

                            hljs.initHighlighting.called = false;
                            hljs.initHighlighting();
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
            });

            $('#btnDownload').click(function () {

                var win = window.open('/Home/Download?fileName=' + $scope.fileName + 'Tests.cs', '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            });

             $scope.copyToClipboard = function() {
                 clipboard.copy($scope.createdFile);
                 showToastMessage("Success", "Copied");
             }

             function EncodeHtml(str) {
                 return str.replace(/\</g, '&lt;').replace(/\>/g, '&gt;');
             };
        });
  
        $("<link/>", {
            rel: "stylesheet",
            type: "text/css",
            href: "../../css/school-book.css"
        }).appendTo("head");
    </script>
    
    <style type="text/css">
        .jumbotron {
            padding-bottom: 15px;
            padding-top: 0px;
        }
    </style>
</body>
</html>
