<div class="row" style="min-height: 65px;"></div>
<div class="row" ng-controller="beforeLoginOrbitFeed">
    <div class="col-md-2">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-user-detail">
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><i class="fa fa-suitcase"></i>Works at <a href="#">software development</a></li>
                            <li><i class="fa fa-calendar"></i>Born on August 12, 1991</li>
                            <li>
                                <i class="fa fa-rss"></i>Followed by
                                <a href="#">51 People</a>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer text-center"><a href="#"><i class="fa fa-share"></i>Read more...</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-friends">
                    <div class="panel-heading">
                        <a href="#" class="pull-right">View all&nbsp;<i class="fa fa-share-square-o"></i></a>
                        <h3 class="panel-title"><i class="fa fa-users"></i>&nbsp; Friends</h3>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="friends">
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Friends/woman-4.jpg" title="Jhoanath matew" class="img-responsive tip imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Friends/woman-3.jpg" title="Martha creawn" class="img-responsive tip imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Friends/guy-2.jpg" title="Jeferh smith" class="img-responsive tip imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Friends/woman-9.jpg" title="Linda palma" class="img-responsive tip imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Friends/guy-9.jpg" title="Lindo polmo" class="img-responsive tip imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Friends/guy-5.jpg" title="andrew cartson" class="img-responsive tip imageThumbnailSize"> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-photos">
                    <div class="panel-heading">
                        <a href="#" class="pull-right">View all&nbsp;<i class="fa fa-share-square-o"></i></a>
                        <h3 class="panel-title"><i class="fa fa-image"></i>&nbsp;Photos</h3>
                    </div>
                    <div class="panel-body text-center">
                        <ul class="photos">
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Photos/1.jpg" alt="photo 1" class="img-responsive show-in-modal imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Photos/2.jpg" alt="photo 2" class="img-responsive show-in-modal imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Photos/3.jpg" alt="photo 3" class="img-responsive show-in-modal imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Photos/4.jpg" alt="photo 4" class="img-responsive show-in-modal imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Photos/5.jpg" alt="photo 5" class="img-responsive show-in-modal imageThumbnailSize"> </a></li>
                            <li><a href="#"><img src="http://demos.bootdey.com/dee-dee/img/Photos/6.jpg" alt="photo 6" class="img-responsive show-in-modal imageThumbnailSize"> </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-groups">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i>&nbsp;Groups</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="col-xs-3 col-sm-6 col-md-3"><img src="http://demos.bootdey.com/dee-dee/img/Likes/likes-5.png" alt="Group" class="img-responsive img-circle imageThumbnailSize"></div>
                                <div class="col-xs-9 col-sm-6"><span class="name">Bootdey competitors</span></div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-3 col-sm-6 col-md-3"><img src="http://demos.bootdey.com/dee-dee/img/Likes/likes-1.png" alt="Group" class="img-responsive img-circle imageThumbnailSize"></div>
                                <div class="col-xs-9 col-sm-6"><span class="name">Git in action</span></div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-3 col-sm-6 col-md-3"><img src="http://demos.bootdey.com/dee-dee/img/Likes/likes-6.png" alt="Group" class="img-responsive img-circle imageThumbnailSize"></div>
                                <div class="col-xs-9 col-sm-6"><span class="name">Bootdey Snippets</span></div>
                                <div class="clearfix"></div>
                            </li>
                            <li class="list-group-item">
                                <div class="col-xs-3 col-sm-6 col-md-3"><img src="http://demos.bootdey.com/dee-dee/img/Likes/likes-2.png" alt="Group" class="img-responsive img-circle imageThumbnailSize"></div>
                                <div class="col-xs-9 col-sm-6"><span class="name">Html 5 live</span></div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        
        <section class="panel profile-info">
            <form>
                <textarea class="form-control input-lg p-text-area" rows="2"
                          mentio
                          mentio-search="searchPeople(term)"
                          mentio-select="getPeopleTextRaw(item)"
                          mentio-template-url="/people-mentions.tpl"
                          mentio-items="people"
                          ng-model="UserPostMessage"
                          ng-change="updateUserNewPostMessageHtml()"
                          placeholder="Whats in your mind today?"></textarea>
                
                <div ng-show="UserPostMessage">
                    Preview: <div ng-bind-html="UserPostMessageHtml"></div>
                </div>
                
                <script type="text/ng-template" id="/people-mentions.tpl">
                    <ul class="list-group user-search">
                        <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
                            <img ng-src=" {{person.icon}}" class="user-photo" style="max-height: 50px;">
                            <span class="text-primary"
                                  ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
                            <em class="text-muted" ng-bind="person.type"></em>
                        </li>
                    </ul>
                </script>
            </form>
            <footer class="panel-footer">
                <button class="btn btn-danger pull-right" ng-click="createNewUserPost()">Post</button>
                <ul class="nav nav-pills">
                    <li>
                        <a href=""><i class="fa fa-map-marker"></i></a>
                    </li>
                    <li>
                        <input type="file" style="display:none" id="my_file" ng-file-select="onFileSelectLogoUrl($files)">
                        <a id="get_file"><i class="fa fa-camera"></i></a>
                    </li>
                    <li>
                        <a href=""><i class=" fa fa-film"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fa fa-microphone"></i></a>
                    </li>
                </ul>
            </footer>
            <div>
                <ul class="list-inline">
                    <li ng-show="NewPostImageUrl.link_s">
                        <a class="fancybox" rel="group" href="{{NewPostImageUrl.link_s}}"><img style="max-width: 200px;" ng-src="{{NewPostImageUrl.link_s}}" alt="" /></a>
                        <input type="button" value="Remove" ng-click="removeUploadedPostImage()" />
                    </li>
                </ul>
            </div>
        </section>

        <!-- posts -->
        <div infinite-scroll='UserPostListInfo.nextPage()' infinite-scroll-disabled='UserPostListInfo.busy' infinite-scroll-distance='1'>
            <input type="file" style="display:none" id="my_comment_file" ng-file-select="onCommentImageFileUpload($files,currentUploadingPostIndex)">

            <section class="panel" ng-repeat="post in UserPostList">
                <div class="fb-status-container fb-border fb-gray-bg">
                    <div class="fb-time-action">

                        <img ng-src="{{post.userInfo[0].ImageUrl}}" alt="" style="height:40px">
                        <a title="Posted By" href="#/userprofile/{{post.userInfo[0]._id}}" ng-bind="post.userInfo[0].FirstName+' '+post.userInfo[0].LastName+' '"></a>
                        Posted on
                        
                        <img ng-src="{{post.postedOn[0].ImageUrl}}" alt="" style="height:40px" ng-show="post.userInfo[0]._id != post.postedOn[0]._id">
                        <a title="Posted To" href="#/userprofile/{{post.postedOn[0]._id}}" ng-show="post.userInfo[0]._id == post.postedOn[0]._id">Own's Wall</a>
                        <a title="Posted To" href="#/userprofile/{{post.postedOn[0]._id}}" ng-bind="post.postedOn[0].FirstName+' '+post.postedOn[0].LastName+'\'s Wall'" ng-show="post.userInfo[0]._id != post.postedOn[0]._id"></a>
                        
                        <span ng-show="post.tagInfoCount>0">
                            and tagged <span ng-bind="post.tagInfoCount"></span>items
                        </span>
                    </div>
                </div>
                <div class="fb-status-container fb-border fb-lightgray-bg">
                    <div class="fb-user-thumb">
                        <img ng-src="{{post.userInfo[0].ImageUrl}}" alt="">
                    </div>
                    <div class="fb-user-details hover_div">
                        <h4><a href="#/userprofile/{{post.userInfo[0]._id}}" user_name="{{post.userInfo[0].Username}}" class="show_hovercard" name="{{post.userInfo[0].FirstName +' ' + post.userInfo[0].LastName}}" profile_pic="{{post.userInfo[0].ImageUrl}}" cover_pic="{{post.userInfo[0].CoverImageUrl}}" ng-bind="post.userInfo[0].FirstName +' ' + post.userInfo[0].LastName"></a></h4>
                        <p>{{post.postInfo.PostedTime| timeago}} near Alaska, USA</p>
                        <div class="floatRight">
                            <!-- Single button using append-to-body -->
                            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                    <li role="menuitem" ng-show="post.userInfo[0]._id == clientDetailResponse.VertexId"><a ng-click="enableEditOnUserPost($index)">Edit</a></li>
                                    <li role="menuitem" ng-show="post.postedOn[0]._id == clientDetailResponse.VertexId || post.userInfo[0]._id == clientDetailResponse.VertexId"><a confirmed-click="deleteUserPost($index)" ng-confirm-click="Would you like to delete this comment?">Delete</a></li>
                                    <!--<li class="divider"></li>-->
                                    <li role="menuitem"><a href="">Mark Spam</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="fb-user-status" ng-bind-html="post.postInfo.PostMessageHtml" ng-show="!post.postInfo.editableMode">
                    </p>
                    <img ng-show="post.postInfo.loadingIcon" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right; margin: 10px 0px 0px;" />
                    <!--<textarea rows="4" cols="50" ng-bind="post.postInfo.PostMessage" ng-show="post.postInfo.editableMode"></textarea>-->
                    <!--<input ng-show="post.postInfo.editableMode" ng-model="post.postInfo.PostMessage" ng-keyup="$event.keyCode == 13 && editCommentOnUserPost($index)" placeholder="Edit Post" type="text">-->
                    <input class="form-control"
                           mentio
                           mentio-search="searchCommentPeople($index,term)"
                           mentio-select="getPeopleCommentTextRaw($index,item)"
                           mentio-template-url="/people-mentions.tpl"
                           mentio-items="people"
                           ng-show="post.postInfo.editableMode"
                           ng-model="post.postInfo.PostMessage"
                           ng-change="updateUserPostMessageHtml($index)"
                           ng-keyup="post.postInfo.startedSearch == false && $event.keyCode == 13 && editCommentOnUserPost($index)"
                           placeholder="Edit comment"
                           type="text">
                    <div class="post-image" ng-show="!post.postInfo.editableMode && post.postInfo.PostImage">
                        <a class="fancybox" rel="group" href="{{post.postInfo.PostImage}}"><img class="image show-in-modal" ng-src="{{post.postInfo.PostImage}}" alt="" style="max-height:400px" /></a>
                    </div>
                    <div class="post-image" ng-show="post.postInfo.editableMode">
                        <img class="image" ng-show="post.postInfo.PostImage" ng-src="{{post.postInfo.PostImage}}" alt="" style="max-height:200px" />
                        <input type="button" value="delete" ng-show="post.postInfo.PostImage" ng-click="removeImageOnUserPost($index)" />
                        <input type="file" ng-file-select="onEditFileSelectLogoUrl($files,$index)">
                    </div>
                    <div class="editable-buttons" ng-show="post.postInfo.editableMode"><button type="button" ng-click="submitEditOnUserPost($index)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i></button><button type="button" ng-click="cancelEditOnUserPost($index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></button></div>
                    <div class="row" ng-show="post.postInfo.editableMode">
                        Preview : &nbsp;&nbsp; <span ng-bind-html="post.postInfo.PostMessageHtml"></span>
                    </div>
                    <div class="fb-status-container fb-border">
                        <div class="fb-time-action">
                            <a title="Like this" ng-show="!post.alreadyLiked" ng-click="reactionOnUserPost($index)">Like</a>
                            <a title="Unlike this" ng-show="post.alreadyLiked" ng-click="removeReactionOnUserPost($index)">Unlike</a>
                            <span>-</span>
                            <a href="#" title="Leave a comment">Comments</a>
                            <span>-</span>
                            <a href="#" title="Send this to friend or post it on your time line">Share</a>
                        </div>
                    </div>

                    <div class="fb-status-container fb-border fb-gray-bg">
                        <div class="fb-time-action like-info">
                            <span class="hover_div"><a class="like-summary" ng-click="showLikedByUsers(post.postInfo._id)" data-toggle="modal" data-target="#showLikedByUsersModal" ng-bind-html="post.likeInfoHtml | html"></a></span>
                        </div>
                        <ul class="fb-comments">
                            <li ng-show="(post.messageToIndex+1)<post.commentsCount">
                                <div class="input-group"> <a ng-click="loadMoreMessage(post.postInfo._id,$index)">Load Previous Messages.. ( Showing <span ng-bind="post.messageToIndex+1"></span> of <span ng-bind="post.commentsCount"></span>)<span ng-show='post.loadingIcon'> <img src="../../App/img/loading/loading123.gif" style="height: 30px; margin: 10px 0px 0px;" /></span></a></div>
                            </li>
                            <li ng-repeat="comment in post.commentsInfo">
                                <a href="#/userprofile/{{comment.commentedBy[0]._id}}" class="cmt-thumb">
                                    <img ng-src="{{comment.commentedBy[0].ImageUrl}}" alt="">
                                </a>
                                <div class="cmt-details">
                                    <span class="comment-user-name hover_div"><a href="#/userprofile/{{comment.commentedBy[0]._id}}" user_name="{{comment.commentedBy[0].Username}}" class="comment-user-name show_hovercard" name="{{comment.commentedBy[0].FirstName +' ' + comment.commentedBy[0].LastName}}" profile_pic="{{comment.commentedBy[0].ImageUrl}}" cover_pic="{{comment.commentedBy[0].CoverImageUrl}}" ng-bind="comment.commentedBy[0].FirstName +' ' + comment.commentedBy[0].LastName"></a></span>
                                    <span ng-bind-html="comment.commentInfo.PostMessageHtml" ng-show="!comment.editableMode"></span>
                                    <div ng-show="comment.editableMode">
                                        <div class="row">
                                            <input class="form-control"
                                                   mentio
                                                   mentio-search="searchPostCommentPeople($parent.$index,$index,term)"
                                                   mentio-select="getPeoplePostCommentTextRaw($parent.$index,$index,item)"
                                                   mentio-template-url="/people-mentions.tpl"
                                                   mentio-items="people"
                                                   ng-model="comment.commentInfo.PostMessage"
                                                   ng-change="updateUserPostCommentMessageHtml($parent.$index,$index)"
                                                   ng-keyup="comment.commentInfo.startedSearch == false && $event.keyCode == 13 && submitEditcommentOnUserPost($parent.$index,$index)"
                                                   placeholder="Edit comment"
                                                   type="text">
                                            <div class="editable-buttons"><button type="button" ng-click="submitEditcommentOnUserPost($parent.$index,$index)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i></button><button type="button" ng-click="cancelEditcommentOnUserPost($parent.$index,$index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></button></div>

                                        </div>

                                        <div class="row" ng-show="comment.commentInfo.PostMessage">
                                            Preview : &nbsp;&nbsp; <span ng-bind-html="comment.commentInfo.PostMessageHtml"></span>
                                        </div>
                                    </div>
                                    <img ng-show="comment.loadingIcon" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right; margin: 10px 0px 0px;" />
                                    <div class="post-image" ng-show="comment.commentInfo.PostImage && !comment.editableMode">
                                        <a class="fancybox" rel="group" href="{{comment.commentInfo.PostImage}}"><img class="image show-in-modal" ng-src="{{comment.commentInfo.PostImage}}" alt="" style="max-height:100px" /></a>
                                    </div>
                                    <div class="post-image" ng-show="comment.editableMode">
                                        <img class="image" ng-show="comment.commentInfo.PostImage" ng-src="{{comment.commentInfo.PostImage}}" alt="" style="max-height:200px" />
                                        <input type="button" value="delete" ng-show="comment.commentInfo.PostImage" ng-click="removeImageOnUserPostComment($parent.$index,$index)" />
                                        <input type="file" ng-file-select="onEditFileSelectLogoUrlForComments($files,$parent.$index,$index)">
                                    </div>

                                    <p ng-show="!comment.loadingIcon">
                                        {{comment.commentInfo.PostedTime | timeago}} -
                                        <a class="like-link" title="Like this" ng-show="!comment.alreadyLiked" ng-click="reactionOnUserPostComment($parent.$index,$index)">Like</a>
                                        <a class="like-link" title="Unlike this" ng-show="comment.alreadyLiked" ng-click="removeReactionOnUserPostComment($parent.$index,$index)">Unlike</a>
                                        <a class="like-link" title="Likes Count"> <span class="hover_div"><span class="like-summary" ng-click="showLikedByUsers(comment.commentInfo._id)" data-toggle="modal" data-target="#showLikedByUsersModal">(<span ng-bind="comment.likeCount"></span>)</span></span> </a>

                                        &nbsp;
                                        <a ng-click="enableEditcommentOnUserPost($parent.$index,$index)" ng-show="!comment.editableMode && comment.isAuthenticToEdit" class="like-link">Edit</a> &nbsp;
                                        <a class="like-link" ng-show="comment.isAuthenticToEdit || comment.isLoggedInUserWall" confirmed-click="deleteOnUserPostComment($parent.$index,$index)" ng-confirm-click="Would you like to delete this comment?">Delete</a>
                                        <!--<a class="like-link" ng-show="comment.isAuthenticToEdit || comment.isLoggedInUserWall" ng-click="deleteOnUserPostComment($parent.$index,$index)">Delete</a>-->
                                    </p>
                                </div>
                            </li>
                            <li>
                                <a class="cmt-thumb">
                                    <img ng-src="{{clientDetailResponse.Profilepic}}" alt="">
                                </a>
                                <div class="cmt-form">
                                    <div class="input-group">
                                        <input class="form-control"
                                               mentio
                                               mentio-search="searchCommentPeople($index,term)"
                                               mentio-select="getPeopleCommentTextRaw($index,item)"
                                               mentio-template-url="/people-mentions.tpl"
                                               mentio-items="people"
                                               ng-model="post.postInfo.postUserComment"
                                               ng-change="updateUserCommentMessageHtml($index)"
                                               ng-keyup="post.postInfo.startedSearch == false && $event.keyCode == 13 && commentOnUserPost($index)"
                                               placeholder="Add a comment"
                                               type="text"
                                               ng-disabled="post.commentsInfo[0].disableInputBox">
                                        <span class="input-group-addon">
                                            <a ng-click="uploadImageOncomment($index)"><i class="fa fa-camera"></i></a>
                                            <a ng-click="commentOnUserPost($index)">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </span>
                                        
                                    </div>
                                    <div class="row" ng-show="post.postInfo.postUserComment">   
                                        Preview : &nbsp; <div ng-bind-html="post.postInfo.postUserCommentHtml"></div>
                                    </div>
                                </div>
                                <div>
                                    <ul class="list-inline">
                                        <li ng-show="post.postInfo.newCommentImage">
                                            <a class="fancybox" rel="group" href="{{post.postInfo.newCommentImage}}"><img style="max-width: 200px;" ng-src="{{post.postInfo.newCommentImage}}" alt="" /></a>
                                            <input type="button" value="Remove" ng-click="removeUploadedCommentImage($index)" />
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <div ng-show='UserPostListInfoAngular.busy'>Loading data... <img src="../../App/img/loading/loading123.gif" style="height: 30px; margin: 10px 0px 0px;" /></div>
            <!-- Modal -->
            <div class="modal fade" id="showLikedByUsersModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Liked By :</h4>
                        </div>
                        <div class="modal-body">
                            <div ng-show='UserPostLikesLoading'>Loading data... <img src="../../App/img/loading/loading123.gif" style="height: 30px; margin: 10px 0px 0px;" /></div>
                            <div ng-repeat="like in UserPostLikes">
                                <a ng-click="closeModelAndNavigateTo(like.likeInfo._id)">
                                    <img class="img-circle" style="max-height: 40px; max-width: 40px;" ng-src="{{like.likeInfo.ImageUrl}}"> &nbsp;
                                    <span ng-bind="like.likeInfo.FirstName"></span>&nbsp; <span ng-bind="like.likeInfo.LastName"></span>
                                    <!--<span user_name="{{like.likeInfo.Username}}" class="show_hovercard" name="{{like.likeInfo.FirstName +' ' + like.likeInfo.LastName}}" profile_pic="{{like.likeInfo.ImageUrl}}" cover_pic="{{like.likeInfo.CoverImageUrl}}" ng-bind="like.likeInfo.FirstName +' ' + like.likeInfo.LastName"></span>-->
                                </a>
                                <hr />
                            </div>

                            <p><a class="like-summary" ng-click="showMoreLikedByUsers()">Load More..</a></p>
                        </div>
                        <div class="modal-footer">
                            <button id="closeModalId" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            helpers: {
                overlay: {
                    locked: false
                }
            }
        });
        
    });

    document.getElementById('get_file').onclick = function () {
        document.getElementById('my_file').click();
    };

   
</script>
