<div style="background-color: rgb(246, 246, 246);" ng-controller="beforeLoginViewPostDetail">

    <div class="row" style="min-height: 150px;"></div>
    <div class="container">
       
        <section class="profile-env">

            <div class="col-md-12">                
                <div class="col-md-10 col-sm-10 col-xs-10 col-right">
                    
                    <div class="row">
                        <!-- posts -->
                        <div>
                            <input type="file" style="display:none" id="my_comment_file" ng-file-select="onCommentImageFileUpload($files,currentUploadingPostIndex)">
                            <section class="panel" ng-repeat="post in UserPostList">
                                <div>
                                    <a href="#/userprofile/{{post.userInfo[0]._id}}"><span ng-bind="post.userInfo[0].FirstName+' '+post.userInfo[0].LastName"></span></a> Posted on  <a href="#/userprofile/{{post.postedToUser[0]._id}}"><span ng-bind="post.postedToUser[0].FirstName+' '+post.postedToUser[0].LastName"></span></a>'s Wall
                                </div>
                                <div class="panel-body">
                                    <div class="fb-user-thumb">
                                        <img ng-src="{{post.userInfo[0].ImageUrl}}" alt="">
                                    </div>
                                    <div class="fb-user-details hover_div">
                                        <h3><a href="#/userprofile/{{post.userInfo[0]._id}}" user_name="{{post.userInfo[0].Username}}" class="show_hovercard" name="{{post.userInfo[0].FirstName +' ' + post.userInfo[0].LastName}}" profile_pic="{{post.userInfo[0].ImageUrl}}" cover_pic="{{post.userInfo[0].CoverImageUrl}}" ng-bind="post.userInfo[0].FirstName +' ' + post.userInfo[0].LastName"></a></h3>
                                        <p>{{post.postInfo.PostedTime| timeago}} near Alaska, USA</p>
                                        <div class="floatRight">
                                            <!-- Single button using append-to-body -->
                                            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                                <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                                    <li role="menuitem" ng-show="post.userInfo[0]._id == clientDetailResponse.VertexId"><a ng-click="enableEditOnUserPost($index)">Edit</a></li>
                                                    <li role="menuitem" ng-show="post.postedToUser[0]._id == clientDetailResponse.VertexId || post.userInfo[0]._id == clientDetailResponse.VertexId"><a confirmed-click="deleteUserPost($index)" ng-confirm-click="Would you like to delete this comment?">Delete</a></li>
                                                    <li class="divider"></li>
                                                    <li role="menuitem"><a href="">Mark Spam</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <p class="fb-user-status" ng-bind-html="post.postInfo.PostMessageHtml" ng-show="!post.postInfo.editableMode">
                                    </p>
                                    <img ng-show="post.postInfo.loadingIcon" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right; margin: 10px 0px 0px;" />
                                    <!--<textarea rows="4" cols="50" ng-bind="post.postInfo.PostMessage" ng-show="post.postInfo.editableMode"></textarea>-->
                                    <!--<input ng-show="post.postInfo.editableMode" ng-model="post.postInfo.PostMessage" ng-keyup="$event.keyCode == 13 && editCommentOnUserPost($index)" placeholder="Edit Post" type="text">-->
                                    <input class="form-control"
                                           mentio
                                           mentio-search="searchCommentPeople($index,term)"
                                           mentio-select="getPeopleCommentTextRaw($index,item)"
                                           mentio-template-url="/people-mentions.tpl"
                                           mentio-items="people"
                                           ng-show="post.postInfo.editableMode"
                                           ng-model="post.postInfo.PostMessage"
                                           ng-change="updateUserPostMessageHtml($index)"
                                           ng-keyup="post.postInfo.startedSearch == false && $event.keyCode == 13 && editCommentOnUserPost($index)"
                                           placeholder="Edit comment"
                                           type="text">
                                    <div class="post-image" ng-show="!post.postInfo.editableMode && post.postInfo.PostImage">
                                        <a class="fancybox" rel="group" href="{{post.postInfo.PostImage}}"><img class="image show-in-modal" ng-src="{{post.postInfo.PostImage}}" alt="" style="max-height:400px" /></a>
                                        <!--<img ng-src="{{post.postInfo.PostImage}}" class="image show-in-modal" alt="image post">-->
                                    </div>
                                    <div class="post-image" ng-show="post.postInfo.editableMode">
                                        <img class="image" ng-show="post.postInfo.PostImage" ng-src="{{post.postInfo.PostImage}}" alt="" style="max-height:200px" />
                                        <input type="button" value="delete" ng-show="post.postInfo.PostImage" ng-click="removeImageOnUserPost($index)" />
                                        <input type="file" ng-file-select="onEditFileSelectLogoUrl($files,$index)">
                                    </div>
                                    <div class="editable-buttons" ng-show="post.postInfo.editableMode"><button type="button" ng-click="submitEditOnUserPost($index)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i></button><button type="button" ng-click="cancelEditOnUserPost($index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></button></div>
                                    <div class="row" ng-show="post.postInfo.editableMode">
                                        Preview : &nbsp;&nbsp; <span ng-bind-html="post.postInfo.PostMessageHtml"></span>
                                    </div>
                                    <div class="fb-status-container fb-border">
                                        <div class="fb-time-action">
                                            <a title="Like this" ng-show="!post.alreadyLiked" ng-click="reactionOnUserPost($index)">Like</a>
                                            <a title="Unlike this" ng-show="post.alreadyLiked" ng-click="removeReactionOnUserPost($index)">Unlike</a>
                                            <span>-</span>
                                            <a href="#" title="Leave a comment">Comments</a>
                                            <span>-</span>
                                            <a href="#" title="Send this to friend or post it on your time line">Share</a>
                                        </div>
                                    </div>

                                    <div class="fb-status-container fb-border fb-gray-bg">
                                        <div class="fb-time-action like-info">
                                            <span class="hover_div"><a class="like-summary" ng-click="showLikedByUsers(post.postInfo._id)" data-toggle="modal" data-target="#showLikedByUsersModal" ng-bind-html="post.likeInfoHtml | html"></a></span>
                                        </div>
                                        <ul class="fb-comments">
                                            <li ng-show="(post.messageToIndex+1)<post.commentsCount">
                                                <div class="input-group"> <a ng-click="loadMoreMessage(post.postInfo._id,$index)">Load Previous Messages.. ( Showing <span ng-bind="post.messageToIndex+1"></span> of <span ng-bind="post.commentsCount"></span>)<span ng-show='post.loadingIcon'> <img src="../../App/img/loading/loading123.gif" style="height: 30px; margin: 10px 0px 0px;" /></span></a></div>
                                            </li> 
                                            <li ng-repeat="comment in post.commentsInfo">
                                                <a href="#/userprofile/{{comment.commentedBy[0]._id}}" class="cmt-thumb">
                                                    <img ng-src="{{comment.commentedBy[0].ImageUrl}}" alt="">
                                                </a>
                                                <div class="cmt-details">
                                                    <span class="comment-user-name hover_div"><a href="#/userprofile/{{comment.commentedBy[0]._id}}" user_name="{{comment.commentedBy[0].Username}}" class="comment-user-name show_hovercard" name="{{comment.commentedBy[0].FirstName +' ' + comment.commentedBy[0].LastName}}" profile_pic="{{comment.commentedBy[0].ImageUrl}}" cover_pic="{{comment.commentedBy[0].CoverImageUrl}}" ng-bind="comment.commentedBy[0].FirstName +' ' + comment.commentedBy[0].LastName"></a></span>
                                                    <span ng-bind-html="comment.commentInfo.PostMessageHtml" ng-show="!comment.editableMode"></span>
                                                    <div ng-show="comment.editableMode">
                                                        <div class="row">
                                                            <input class="form-control"
                                                                   mentio
                                                                   mentio-search="searchPostCommentPeople($parent.$index,$index,term)"
                                                                   mentio-select="getPeoplePostCommentTextRaw($parent.$index,$index,item)"
                                                                   mentio-template-url="/people-mentions.tpl"
                                                                   mentio-items="people"
                                                                   ng-model="comment.commentInfo.PostMessage"
                                                                   ng-change="updateUserPostCommentMessageHtml($parent.$index,$index)"
                                                                   ng-keyup="comment.commentInfo.startedSearch == false && $event.keyCode == 13 && submitEditcommentOnUserPost($parent.$index,$index)"
                                                                   placeholder="Edit comment"
                                                                   type="text">
                                                            <div class="editable-buttons"><button type="button" ng-click="submitEditcommentOnUserPost($parent.$index,$index)" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i></button><button type="button" ng-click="cancelEditcommentOnUserPost($parent.$index,$index)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-remove"></i></button></div>

                                                        </div>

                                                        <div class="row" ng-show="comment.commentInfo.PostMessage">
                                                            Preview : &nbsp; <span ng-bind-html="comment.commentInfo.PostMessageHtml"></span>
                                                        </div>
                                                    </div>
                                                    <img ng-show="comment.loadingIcon" src="../../App/img/loading/loading123.gif" style="height: 20px; float: right; margin: 10px 0px 0px;" />
                                                    <div class="post-image" ng-show="comment.commentInfo.PostImage && !comment.editableMode">
                                                        <a class="fancybox" rel="group" href="{{comment.commentInfo.PostImage}}"><img class="image show-in-modal" ng-src="{{comment.commentInfo.PostImage}}" alt="" style="max-height:100px" /></a>
                                                    </div>
                                                    <div class="post-image" ng-show="comment.editableMode">
                                                        <img class="image" ng-show="comment.commentInfo.PostImage" ng-src="{{comment.commentInfo.PostImage}}" alt="" style="max-height:200px" />
                                                        <input type="button" value="delete" ng-show="comment.commentInfo.PostImage" ng-click="removeImageOnUserPostComment($parent.$index,$index)" />
                                                        <input type="file" ng-file-select="onEditFileSelectLogoUrlForComments($files,$parent.$index,$index)">
                                                    </div>

                                                    <p ng-show="!comment.loadingIcon">
                                                        {{comment.commentInfo.PostedTime | timeago}} -
                                                        <a class="like-link" title="Like this" ng-show="!comment.alreadyLiked" ng-click="reactionOnUserPostComment($parent.$index,$index)">Like</a>
                                                        <a class="like-link" title="Unlike this" ng-show="comment.alreadyLiked" ng-click="removeReactionOnUserPostComment($parent.$index,$index)">Unlike</a>
                                                        <a class="like-link" title="Likes Count"> <span class="hover_div"><span class="like-summary" ng-click="showLikedByUsers(comment.commentInfo._id)" data-toggle="modal" data-target="#showLikedByUsersModal">(<span ng-bind="comment.likeCount"></span>)</span></span>  </a>
                                                        &nbsp;
                                                        <a ng-click="enableEditcommentOnUserPost($parent.$index,$index)" ng-show="!comment.editableMode && comment.isAuthenticToEdit" class="like-link">Edit</a> &nbsp;
                                                        <!--<a href="" class="like-link" ng-show="comment.isAuthenticToEdit || comment.isLoggedInUserWall">Delete</a>-->
                                                        <a class="like-link" ng-show="comment.isAuthenticToEdit || comment.isLoggedInUserWall" confirmed-click="deleteOnUserPostComment($parent.$index,$index)" ng-confirm-click="Would you like to delete this comment?">Delete</a>
                                                    </p>
                                                </div>
                                            </li>  
                                            <li>
                                                <a class="cmt-thumb">
                                                    <img ng-src="{{clientDetailResponse.Profilepic}}" alt="">
                                                </a>
                                                <div class="cmt-form">
                                                    <div class="input-group">
                                                        <input class="form-control"
                                                               mentio
                                                               mentio-search="searchCommentPeople($index,term)"
                                                               mentio-select="getPeopleCommentTextRaw($index,item)"
                                                               mentio-template-url="/people-mentions.tpl"
                                                               mentio-items="people"
                                                               ng-model="post.postInfo.postUserComment"
                                                               ng-change="updateUserCommentMessageHtml($index)"
                                                               ng-keyup="post.postInfo.startedSearch == false && $event.keyCode == 13 && commentOnUserPost($index)"
                                                               placeholder="Add a comment"
                                                               type="text"
                                                               ng-disabled="post.commentsInfo[0].disableInputBox">
                                                        
                                                        <script type="text/ng-template" id="/people-mentions.tpl">
                                                            <ul class="list-group user-search">
                                                                <li mentio-menu-item="person" ng-repeat="person in items" class="list-group-item">
                                                                    <img ng-src=" {{person.icon}}" class="user-photo" style="max-height: 50px;">
                                                                    <span class="text-primary"
                                                                          ng-bind-html="person.name | mentioHighlight:typedTerm:'menu-highlighted' | unsafe"></span>
                                                                    <em class="text-muted" ng-bind="person.type"></em>
                                                                </li>
                                                            </ul>
                                                        </script>

                                                        <span class="input-group-addon">
                                                            <a ng-click="uploadImageOncomment($index)"><i class="fa fa-camera"></i></a>
                                                            <a ng-click="commentOnUserPost($index)">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="row" ng-show="post.postInfo.postUserComment">

                                                        Preview :&nbsp; <div ng-bind-html="post.postInfo.postUserCommentHtml"></div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <ul class="list-inline">
                                                        <li ng-show="post.postInfo.newCommentImage">
                                                            <a class="fancybox" rel="group" href="{{post.postInfo.newCommentImage}}"><img style="max-width: 200px;" ng-src="{{post.postInfo.newCommentImage}}" alt="" /></a>
                                                            <input type="button" value="Remove" ng-click="removeUploadedCommentImage($index)" />
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </section>
                            <div ng-show='UserPostListInfoAngular.busy'>Loading data... <img src="../../App/img/loading/loading123.gif" style="height: 30px; margin: 10px 0px 0px;" /></div>
                            <!-- Modal -->
                            <div class="modal fade" id="showLikedByUsersModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Liked By :</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div ng-show='UserPostLikesLoading'>Loading data... <img src="../../App/img/loading/loading123.gif" style="height: 30px; margin: 10px 0px 0px;" /></div>
                                            <div ng-repeat="like in UserPostLikes">
                                                <a ng-click="closeModelAndNavigateTo(like.likeInfo._id)">
                                                    <img class="img-circle" style="max-height: 40px; max-width: 40px;" ng-src="{{like.likeInfo.ImageUrl}}"> &nbsp;
                                                    <span ng-bind="like.likeInfo.FirstName"></span>&nbsp; <span ng-bind="like.likeInfo.LastName"></span>
                                                    <!--<span user_name="{{like.likeInfo.Username}}" class="show_hovercard" name="{{like.likeInfo.FirstName +' ' + like.likeInfo.LastName}}" profile_pic="{{like.likeInfo.ImageUrl}}" cover_pic="{{like.likeInfo.CoverImageUrl}}" ng-bind="like.likeInfo.FirstName +' ' + like.likeInfo.LastName"></span>-->
                                                </a>
                                                <hr />
                                            </div>

                                            <p><a class="like-summary" ng-click="showMoreLikedByUsers()">Load More..</a></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="closeModalId" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="UserPostList.length==0" ng-cloak>
                <h5>Not Available.</h5>
            </div>
        </section>
    </div>


</div>


<script type="text/javascript">
    $(document).ready(function () {
        $(".fancybox").fancybox({
            helpers: {
                overlay: {
                    locked: false
                }
            }
        });
    });
</script>